.user-card{
    background-color: dimgrey;
    max-width: 300px;
    justify-content: center;
    border-radius: 10px;
    text-align: center; 
}

.user-card--online{
    color: rgb(18, 215, 18);
}

.user-card--offline{
    color: red;
}

